{% load static %}

{# Head #}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lynx</title>
    <!-- MDB CSS -->
    <link href="{% static 'bootstrap/mdb.min.css' %}" rel="stylesheet">
    <!-- CSS personalizado -->
    <link href="{% static 'base/base.css' %}" rel="stylesheet">
    <!-- CSS personalizado para loading-overview -->
    <link href="{% static 'containers/loading_overlay.css' %}" rel="stylesheet">
</head>


{# Body #}
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white" style="width: 250px; height: 100vh;">
            <a href="{% url 'dashboard' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <img src="{% static 'figuras/LXC_Web_Lynx.png' %}" width="210" height="70" alt="">
            </a>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a href="{% url 'dashboard' %}" class="nav-link text-white bg-transparent border border-white rounded
                       {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                        <i class="fas fa-tachometer-alt me-2"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'containers' %}" class="nav-link text-white bg-transparent border border-white rounded
                       {% if request.resolver_match.url_name == 'containers' %}active{% endif %}">
                        <i class="fas fa-box me-2"></i>
                        Containers
                    </a>
                </li>
                <li>
                    <a href="{% url 'images' %}" class="nav-link text-white bg-transparent border border-white rounded
                       {% if request.resolver_match.url_name == 'images' %}active{% endif %}">
                        <i class="fas fa-server me-2"></i>
                        Images
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white bg-transparent border border-white rounded">
                        <i class="fas fa-server me-2"></i>
                        Balanceamento
                    </a>
                </li>
            </ul>
            <div class="dropdown mt-auto">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-mdb-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-user me-2"></i>
                    <strong>{{ user.username }}</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                </ul>
            </div>
        </div>
    </aside>

    {# Main #}
    <main class="content">
        <div class="container-fluid"> <!-- Usando container-fluid para maior largura -->
            <h1 class="text-center bg-primary text-white p-1 mt-2 rounded">
                <i class="fas fa-box me-2"></i> CONTAINERS
            </h1>

            <!-- Lista de informações -->
            <ul class="list-group bg-primary rounded text-white mb-2">
                {% if ult_reg %}
                    <li class="p-1 d-flex justify-content-between align-items-center">
                        <span>Total de containers ativos: <strong>{{ ult_reg.container_count }}</strong></span>
                        <span>Data e Hora da última atualização: <strong>{{ ult_reg.time|date:"d/m/Y H:i:s" }}</strong></span>
                    </li>
                {% else %}
                    <li class="list-group-item">Não há dados disponíveis.</li>
                {% endif %}
            </ul>

            <!-- Tabela de containers -->
            <div class="table-responsive border border-primary border-5 rounded mb-2"> <!-- Adicionado div com rounded -->
                <table class="table table-striped bg-light mb-1 align-middle text-center">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>Nome do Container</th>
                            <th>Status</th>
                            <th>IPv4</th>
                            <th>IPv6</th>
                            <th>Iniciar</th>
                            <th>Parar</th>
                            <th>Reiniciar</th>
                            <th>Trocar endereço IPv4</th>
                            <th>Endereçamento IPv6</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for container_name, status, ips in container_data %}
                        <tr>
                            <td>{{ container_name }}</td>
                            <td>{{ status }}</td>
                            <td>
                                {% for ip in ips %}
                                    {% if ip.ip_type == 'IPv4' %}
                                        <span>{{ ip.ip_address }} {{ ip.interface }}</span><br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for ip in ips %}
                                    {% if ip.ip_type == 'IPv6' %}
                                        <span>{{ ip.ip_address }} {{ ip.interface }}</span><br>
                                    {% endif %}
                                {% endfor %}
                            </td>

                            <!-- Botões de ação -->
                            <td>
                                <button type="button" class="btn btn-link btn-sm px-3 start-container-btn"
                                        data-container-name="{{ container_name }}">
                                    <i class="fas fa-play"></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm px-3 stop-container-btn"
                                        data-container-name="{{ container_name }}">
                                    <i class="fas fa-stop"></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm px-3 restart-container-btn"
                                        data-container-name="{{ container_name }}">
                                    <i class="fas fa-redo"></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm px-3 swap-ip-btn"
                                        data-container-name="{{ container_name }}"
                                        data-interfaces="{% for ip in ips %}{{ ip.interface }}{% if not forloop.last %},{% endif %}{% endfor %}">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm px-3 toggle-config-btn"
                                        data-container-name="{{ container_name }}">
                                    <i class="fas fa-network-wired"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Overlay de Carregamento usando MDBootstrap Spinner -->
        <div id="loading-overlay">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
        </div>

        <!-- Estrutura do Modal para Adicionar IPv4 -->
        <div class="modal fade" id="modalIpActions" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Adicionar IPv4</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!-- Seletor de Interface -->
                            <div class="mb-3">
                                <label for="interface" class="form-label">Interface</label>
                                <select class="form-select" id="interface"></select>
                            </div>

                            <!-- Campo para o Endereço IPv4 -->
                            <div class="mb-3" id="ipAddressContainer">
                                <label for="ipAddress" class="form-label">Endereço IPv4</label>
                                <input type="text" class="form-control" id="ipAddress" placeholder="Digite o endereço IPv4">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-warning" data-mdb-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-rounded btn-primary" id="saveIpAction">Adicionar IPv4</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Estrutura do Modal para Habilitar/Desabilitar IPv6 -->
        <div class="modal fade" id="modalIpv6Toggle" tabindex="-1" aria-labelledby="modalIpv6Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalIpv6Label">Configurar IPv6</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!-- Seletor para Habilitar ou Desabilitar IPv6 -->
                            <div class="mb-3">
                                <label for="ipv6Toggle" class="form-label">Ação IPv6</label>
                                <select class="form-select" id="ipv6Toggle">
                                    <option value="ativado">Habilitar IPv6</option>
                                    <option value="desativado">Desabilitar IPv6</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-warning" data-mdb-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-rounded btn-primary" id="saveIpv6ToggleAction">Salvar Alterações</button>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <!-- MDBootstrap -->
    <script src="{% static 'bootstrap/mdb.min.js' %}"></script>
    <!-- FontAwesome (para os ícones) -->
    <script src="{% static 'bootstrap/fontawesome.js' %}"></script>
    <!-- Requisição AJAX para o back-end, interagir com os botões "start", "stop" e "restart" -->
    <script src="{% static 'containers/Ajax.js' %}"></script>
    <!-- Modal para trocar endereços IPv4 dos containers -->
    <script src="{% static '/containers/modal_swap_ipv4.js' %}"></script>
    <!-- Modal para habilitar ou não IPv6 -->
    <script src="{% static '/containers/modal_toggle_ipv6.js' %}"></script>

    {# Footer #}
    <footer class="footer bg-dark text-white">
      <p>&copy; Todos os direitos reservados. Desenvolvido por <a href="https://github.com/jbgoncalvess">Jardel Gonçalves.</a></p>
    </footer>

</html>
