{% load static %}

{# Head #}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lynx</title>
    <!-- MDB CSS -->
    <link href="{% static 'mdbootstrap/mdb.min.css' %}" rel="stylesheet">
    <!-- CSS personalizado -->
    <link href="{% static 'home/base.css' %}" rel="stylesheet">
</head>


{# Body #}
<body>
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white" style="width: 250px; height: 100vh;">
            <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <img src="{% static 'figuras/LXC_Web_Lynx.png' %}" width="210" height="70" alt="">
            </a>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link text-white bg-transparent border border-white rounded
                       {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                        <i class="fas fa-home me-2"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'dashboard' %}" class="nav-link text-white bg-transparent border border-white rounded
                       {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                        <i class="fas fa-tachometer-alt me-2"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'containers' %}" class="nav-link text-white bg-transparent border border-white rounded
                       {% if request.resolver_match.url_name == 'containers' %}active{% endif %}">
                        <i class="fas fa-box me-2"></i>
                        Containers
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white bg-transparent border border-white rounded">
                        <i class="fas fa-image me-2"></i>
                        Imagens
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white bg-transparent border border-white rounded">
                        <i class="fas fa-server me-2"></i>
                        Balanceamento
                    </a>
                </li>
            </ul>
            <div class="dropdown mt-auto">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-mdb-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-user me-2"></i>
                    <strong>{{ user.username }}</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                </ul>
            </div>
        </div>
    </aside>


    {# Main #}
    <main class="content">
        <div class="container-fluid"> <!-- Usando container-fluid para maior largura -->
            <h1 class="text-center bg-primary text-white p-1 mt-2 rounded">
                <i class="fas fa-box me-2"></i> CONTAINERS
            </h1>

            <!-- Lista de informações -->
            <ul class="list-group bg-primary rounded text-white mb-2">
                {% if ult_reg %}
                    <li class="p-1 d-flex justify-content-between align-items-center">
                        <span>Total de containers ativos: <strong>{{ ult_reg.container_count }}</strong></span>
                        <span>Data e Hora: <strong>{{ ult_reg.time|date:"d/m/Y H:i:s" }}</strong></span>
                    </li>
                {% else %}
                    <li class="list-group-item">Não há dados disponíveis.</li>
                {% endif %}
            </ul>

            <!-- Tabela de containers -->
            <div class="table-responsive border border-primary border-5 rounded mb-2"> <!-- Adicionado div com rounded -->
                <table class="table table-striped bg-light mb-1 align-middle text-center">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>Nome do Container</th>
                            <th>Status</th>
                            <th>IPv4</th>
                            <th>IPv6</th>
                            <th>Iniciar</th>
                            <th>Parar</th>
                            <th>Reiniciar</th>
                            <th>Modificar IP</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for container_name, status, ips in container_data %}
                        <tr>
                            <td>{{ container_name }}</td>
                            <td>{{ status }}</td>
                            <td>
                                {% for ip in ips %}
                                    {% if ip.ip_type == 'IPv4' %}
                                        <span>{{ ip.ip_address }} {{ ip.interface }}</span><br> <!-- O <br> adiciona uma quebra de linha -->
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for ip in ips %}
                                    {% if ip.ip_type == 'IPv6' %}
                                        <span>{{ ip.ip_address }} {{ ip.interface }}</span><br> <!-- O <br> adiciona uma quebra de linha -->
                                    {% endif %}
                                {% endfor %}
                            </td>

                            <!-- Botões de ação -->
                            <td>
                                <button type="button" class="btn btn-link btn-sm px-3" data-mdb-ripple-init data-ripple-color="primary">
                                    <i class="fas fa-play"></i> <!-- Ícone para "Iniciar" -->
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm px-3" data-mdb-ripple-init data-ripple-color="primary">
                                    <i class="fas fa-stop"></i> <!-- Ícone para "Parar" -->
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm px-3" data-mdb-ripple-init data-ripple-color="primary">
                                    <i class="fas fa-redo"></i> <!-- Ícone para "Reiniciar" -->
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm px-3" data-mdb-ripple-init data-ripple-color="primary">
                                    <i class="fas fa-edit"></i> <!-- Ícone para "Modificar IP" -->
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <!-- MDB JS -->
    <script src="{% static 'mdbootstrap/mdb.min.js' %}"></script>
    <!-- FontAwesome (para os ícones) -->
    <script src="{% static 'mdbootstrap/fontawesome.js' %}"></script>

    {# Footer #}
    <footer class="footer bg-dark text-white">
      <p>&copy; Todos os direitos reservados. Desenvolvido por <a href="https://github.com/jbgoncalvess">Jardel Gonçalves.</a></p>
    </footer>

</body>
</html>
