{% load static %}

{# Head #}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lynx</title>
    <!-- MDB CSS -->
    <link href="{% static 'mdbootstrap/mdb.min.css' %}" rel="stylesheet">
    <!-- CSS personalizado -->
    <link href="{% static 'home/base.css' %}" rel="stylesheet">
</head>

{# Body #}
<body>
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white" style="width: 250px; height: 100vh;">
            <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <img src="{% static 'figuras/LXC_Web_Lynx.png' %}" width="210" height="70" alt="">
            </a>
        <ul class="nav nav-pills flex-column mb-auto ">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link text-white bg-transparent border border-white rounded">
                    <i class="fas fa-home me-2"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard' %}" class="nav-link text-white bg-transparent border border-white rounded">
                    <i class="fas fa-tachometer-alt me-2"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{% url 'containers' %}" class="nav-link text-white bg-transparent border border-white rounded">
                    <i class="fas fa-box me-2"></i>
                    Containers
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white bg-transparent border border-white rounded">
                    <i class="fas fa-image me-2"></i>
                    Imagens
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white bg-transparent border border-white rounded">
                    <i class="fas fa-server me-2"></i>
                    Balanceamento
                </a>
            </li>
        </ul>
            <div class="dropdown mt-auto">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-mdb-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-user me-2"></i>
                    <strong>{{ user.username }}</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
{#                    <li><a class="dropdown-item" href="#">Settings</a></li>#}
{#                    <li><a class="dropdown-item" href="#">Profile</a></li>#}
{#                    <li><hr class="dropdown-divider"></li>#}
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                </ul>
            </div>
        </div>
    </aside>

    <!-- Main content -->
    <main class="content">
        <div class="container">
            <h1 class="text-center bg-primary text-white p-1 rounded">
                <i class="fas fa-home me-1"></i> HOME</h1>
            <p class="bg-info text-white p-2 rounded">É um prazer tê-lo de volta, {{ user.username }}. Aqui estão algumas atualizações rápidas:</p>
            <ul class="bg-secondary rounded text-black">
                <li class=" p-1 ">Total de containers ativos: X</li>
                <li class=" p-1 ">Última vez que você acessou: {{ user.last_login|date:"d/m/Y H:i" }}</li>
                <li class=" p-1 ">Novo conteúdo no dashboard!</li>
            </ul>
            <p class="bg-info text-white p-2 rounded">Aproveite para navegar pelos recursos disponíveis no sistema e gerenciar seus servidores de forma rápida e eficiente!</p>
        </div>
    </main>


    <!-- MDB JS -->
    <script src="{% static 'mdbootstrap/mdb.min.js' %}"></script>
    <!-- FontAwesome (para os ícones) -->
    <script src="{% static 'mdbootstrap/fontawesome.js' %}"></script>

{# Footer #}
    <footer class="footer bg-dark text-white">
      <p>&copy; Todos os direitos reservados. Desenvolvido por <a href="https://github.com/jbgoncalvess">Jardel Gonçalves.</a></p>
    </footer>

</body>
</html>
