/* CSS */
.sidebar {
  position: fixed; /* fixa a sidebar na lateral esquerda */
  top: 0;
  left: 0;
  z-index: 1;
}

/*Espaçamento pra sidebar*/
.content {
  margin-left: 250px; /* espaçamento à esquerda para dar lugar à sidebar */
  padding-bottom: 60px; /* Adiciona espaço no fundo para o footer */
}

/*Onde eu escrevo o conteúdo de cada App*/
.container {
  width: 100%;
  padding: 15px; /* espaçamento interno */
}

.footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
}

/*Arruma a escrita do footer*/
.footer p {
  margin: 0;
}

