{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lynx Login</title>
	<!-- MDB CSS (opcional, se estiver utilizando MDBootstrap) -->
    <!-- Utilizar localmente (baixei MDB CSS) -->
	<link href="{% static 'mdbootstrap/mdb.min.css' %}" rel="stylesheet">
	<!-- Link para o CSS personalizado -->
	<link href="{% static 'contas/login.css' %}" rel="stylesheet">
</head>

<body>
	<section class="h-100 gradient-form">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-xl-10">
					<div class="card rounded-3 text-black">
						<div class="row g-0">
							<div class="col-lg-6">
								<div class="card-body p-md-5 mx-md-4">
									<div class="text-center">
										<img src="{% static 'figuras/LXC_Web_Lynx.png' %}" width="250px" alt="">
									</div>
									<form action="{% url 'login' %}" method="post">
										{% csrf_token %}
										<p>Por favor, faça login na sua conta</p>
										<div class="form-outline mb-4">
											<input type="text" name="username" class="form-control" placeholder="Digite seu nome de usuário">
											<label class="form-label">Usuário</label>
										</div>
										<div class="form-outline mb-4">
											<input type="password" name="password" class="form-control" placeholder="Digite sua senha">
											<label class="form-label">Senha</label>
										</div>
										<div class="text-center pt-1 mb-4">
											<button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Login</button>
										</div>
										{% if error %}
											<div class="alert alert-dark" role="alert">
												<li>{{ error }}</li>
											</div>
										{% endif %}
										<div class="d-flex align-items-center justify-content-center pb-4">
											<p class="mb-0 me-2">Não tem uma conta?</p>
											<a href="{% url 'registro' %}">
												<button type="button" class="btn btn-outline-danger">Registre-se</button>
											</a>
										</div>
									</form>
								</div>
							</div>
							<div class="col-lg-6 d-flex align-items-center gradient-custom-2">
								<div class="text-white px-3 py-4 p-md-5 mx-md-4">
									<h4 class="mb-4">We are more than just a company</h4>
									<p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
										exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <script src="{% static 'mdbootstrap/mdb.min.js' %}"></script>
</body>
</html>
