{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lynx Registro</title>
	<link href="{% static 'bootstrap/mdb.min.css' %}" rel="stylesheet">
	<link href="{% static 'contas/registro.css' %}" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'figuras/favicon.png' %}">
</head>
<body>
	<section class="h-100 gradient-form">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-xl-10">
					<div class="card rounded-3 text-black">
						<div class="row g-0">
							<div class="col-lg-6">
								<div class="card-body p-md-5 mx-md-4">
									<div class="text-center">
										<img src="{% static 'figuras/Lynx.png' %}" width="250px" alt="">
									</div>
									<form action="{% url 'registro' %}" method="post">
										{% csrf_token %}
										<p>Crie uma nova conta</p>
										<div class="form-outline mb-4">
											<input type="text" name="username" class="form-control" placeholder="Nome de usuário">
											<label class="form-label">Nome de usuário</label>
										</div>
										<div class="form-outline mb-4">
											<input type="password" name="password1" class="form-control" placeholder="Senha">
											<label class="form-label">Senha</label>
										</div>
										<div class="form-outline mb-4">
											<input type="password" name="password2" class="form-control" placeholder="Confirme a Senha">
											<label class="form-label">Confirme a Senha</label>
										</div>
										<div class="text-center pt-1 mb-4">
											<button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Registrar</button>
										</div>
										{% if form.errors %}
											<div class="alert alert-dark" role="alert">
												<ul>
													{% for field in form %}
														{% for error in field.errors %}
															<li>{{ error }}</li>
														{% endfor %}
													{% endfor %}
													{% for error in form.non_field_errors %}
														<li>{{ error }}</li>
													{% endfor %}
												</ul>
											</div>
										{% endif %}
										<div class="d-flex align-items-center justify-content-center pb-4">
											<p class="mb-0 me-2">Já tem uma conta?</p>
											<a class="btn btn-outline-primary" href="{% url 'login' %}">Faça login</a>
										</div>
									</form>
								</div>
							</div>
							<div class="col-lg-6 d-flex align-items-center gradient-custom-2">
								<div class="text-white px-3 py-4 p-md-5 mx-md-4">
									<h3 class="mb-4 text-center title-large">Bem-vindo ao Lynx</h3>
                                    <p class="small mb-0 fw-bold">
                                        O Lynx é uma solução robusta e intuitiva projetada para monitorar e gerenciar containers LXC utilizados como containers de aplicação. Com uma interface amigável e funcionalidades avançadas, o Lynx oferece controle sobre o desempenho e a integridade de sua infraestrutura. Além disso, automatiza a gestão de containers upstream integrados ao Nginx, garantindo alta eficiência e disponibilidade para suas aplicações.
                                    </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="{% static 'bootstrap/mdb.min.js' %}"></script>
</body>
</html>
