  {% load static %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lynx Registro</title>
</head>
<body>
<section class="vh-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5">
            <div class="text-center">
              <img src="{% static 'figuras/teste.png' %}" width="200" height="200" alt="">
              <h4 class="mt-1 mb-5 pb-1">Registre-se no Lynx</h4>
            </div>
            <form method="post" class="registration-form text-center">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Registrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
