/* CSS personalizado */
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  /*FCCB90FF*/

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #0033ff, #3366ff, #3399ff, #66aaff);
  /*background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);*/

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #0033ff, #3366ff, #3399ff, #66aaff);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

body {
  background-color: #343333;
}

.card {
  background-color: #414040;
  color: white;
}


.btn-primary {
  background: linear-gradient(to right, #0033ff, #3366ff, #3399ff, #66aaff);
  border: none;
}

.btn-outline-danger {
  border-color: #dc0000;
  color: #dc0000;
}

.btn-outline-danger:hover {
  /*FF4D4DFF*/
  background-color: #dc0000;
  color: #ffffff;
}
