<!DOCTYPE html>
<html lang="pt-br">
    {% load static %}
    {% block head %}
        {% include "dashboard\head.html" %}
    {% endblock %}
<body>
<main>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center justify-content-center">
            <img src="{% static 'figuras/LXC_Web_Lynx.png' %}" width="210" height="70" alt="">
            {# <span class="fs-4">LXC Web Lynx</span> #}
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            {# <li class="nav-item">#}
            {#     <a href="#" class="nav-link text-white" aria-current="page">#}
            {#         <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>#}
            {#         Home#}
            {#     </a>#}
            {# </li>#}
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer"/></svg>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#containers"/></svg>
                    Containers
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#imagens"/></svg>
                    Imagens
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#balanceamento"/></svg>
                    Balanceamento de Carga
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown" style="z-index: 2">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi me-2" width="32" height="32"><use xlink:href="#usuário"/></svg>
                <strong>{{ user.username }}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
            </ul>

        </div>

    </div>
</main>
        {% block footer %}
                {% include "dashboard\footer.html" %}
        {% endblock %}
</body>
</html>