{% load static %}

{# Head #}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lynx</title>
    <!-- MDB CSS -->
    <link href="{% static 'bootstrap/mdb.min.css' %}" rel="stylesheet">
    <!-- CSS personalizado -->
    <link href="{% static 'home/base.css' %}" rel="stylesheet">
    <!-- Gráficos chart -->
    <script src="{% static 'bootstrap/chart.js' %}"></script>
</head>

{# Body #}
<body>
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white" style="width: 250px; height: 100vh;">
            <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <img src="{% static 'figuras/LXC_Web_Lynx.png' %}" width="210" height="70" alt="">
            </a>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link text-white bg-transparent border border-white rounded
                       {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                        <i class="fas fa-home me-2"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'dashboard' %}" class="nav-link text-white bg-transparent border border-white rounded
                       {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                        <i class="fas fa-tachometer-alt me-2"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'containers' %}" class="nav-link text-white bg-transparent border border-white rounded
                       {% if request.resolver_match.url_name == 'containers' %}active{% endif %}">
                        <i class="fas fa-box me-2"></i>
                        Containers
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white bg-transparent border border-white rounded">
                        <i class="fas fa-image me-2"></i>
                        Imagens
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white bg-transparent border border-white rounded">
                        <i class="fas fa-server me-2"></i>
                        Balanceamento
                    </a>
                </li>
            </ul>
            <div class="dropdown mt-auto">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-mdb-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-user me-2"></i>
                    <strong>{{ user.username }}</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                </ul>
            </div>
        </div>
    </aside>


    <!-- Main content -->
    <main class="content">
        <div class="container-fluid">
            <!-- Título do Dashboard -->
            <h1 class="text-center bg-primary text-white p-1 mt-2 rounded">
                <i class="fas fa-tachometer-alt me-1"></i> DASHBOARD
            </h1>

            <!-- Texto e Gráfico de Linhas -->
            <i class="bg-primary text-black p-2 rounded text-center">Máximo e minímo de containers por dia</i>
            <canvas class="w-100 border-5 rounded p-2 border-primary mb-2" id="max_min_day" height="280" style="border: solid;"></canvas>

            <!-- Passar dados para o gráfico -->
            <script id="mmd_data" type="application/json">
                {
                    "dates": {{ dates|safe }},
                    "min_container_counts": {{ min_container_counts|safe }},
                    "max_container_counts": {{ max_container_counts|safe }}
                }
            </script>

            <script id="cpu_data" type="application/json">
                {
                    "container_names": {{ container_names|safe }},
                    "cpu_usages": {{ cpu_usages|safe }}
                }
            </script>

            <script id="ram_data" type="application/json">
                {
                    "container_names": {{ container_names|safe }},
                    "ram_usages": {{ ram_usages|safe }}
                }
            </script>

            <script id="disk_data" type="application/json">
                {
                    "container_names": {{ container_names|safe }},
                    "disk_usages": {{ disk_usages|safe }}
                }
            </script>

            <script id="uptime_data" type="application/json">
                {
                    "container_names": {{ container_names|safe }},
                    "uptime": {{ uptime|safe }}
                }
            </script>

            <script id="processes_data" type="application/json">
                {
                    "container_names": {{ container_names|safe }},
                    "processes": {{ processes|safe }}
                }
            </script>

            <script id="rps_data" type="application/json">
                {
                    "container_names": {{ container_names|safe }},
                    "rps": {{ rps|safe }}
                }
            </script>

            <script id="upstream_response_time_data" type="application/json">
                {
                    "container_names": {{ container_names|safe }},
                    "urt": {{ urt|safe }}
                }
            </script>

            <script id="request_time_data" type="application/json">
                {
                    "container_names": {{ container_names|safe }},
                    "rt": {{ rt|safe }}
                }
            </script>
            <!-- Layout com gráfico de barras alinhado à esquerda -->
            <!-- Ajustar a estrutura da área que contém os gráficos e a barra lateral -->
            <div class="row">
                <div class="col-md-6 mb-2">
                    <canvas id="cpu" class="border-primary border-5 rounded w-100" style="height: 250px; border: solid;"></canvas>
                </div>

                <div class="col-md-6 mb-2">
                    <canvas id="ram" class="border-primary border-5 rounded w-100" style="height: 250px; border: solid;"></canvas>
                </div>

                <div class="col-md-6 mb-2">
                    <canvas id="disk" class="border-primary border-5 rounded w-100" style="height: 250px; border: solid;"></canvas>
                </div>

                <div class="col-md-6 mb-2">
                    <canvas id="uptime" class="border-primary border-5 rounded w-100" style="height: 250px; border: solid;"></canvas>
                </div>

                <div class="col-md-6 mb-2">
                    <canvas id="processes" class="border-primary border-5 rounded w-100" style="height: 250px; border: solid;"></canvas>
                </div>

                <div class="col-md-6 mb-2">
                    <canvas id="rps" class="border-primary border-5 rounded w-100" style="height: 250px; border: solid;"></canvas>
                </div>

                <div class="col-md-6 mb-2">
                    <canvas id="upstream_response_time" class="border-primary border-5 rounded w-100" style="height: 250px; border: solid;"></canvas>
                </div>

                <div class="col-md-6 mb-2">
                    <canvas id="request_time" class="border-primary border-5 rounded w-100" style="height: 250px; border: solid;"></canvas>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="{% static 'graficos/max_min_day.js' %}"></script>
        <script src="{% static 'graficos/cpu.js' %}"></script>
        <script src="{% static 'graficos/ram.js' %}"></script>
        <script src="{% static 'graficos/disk.js' %}"></script>
        <script src="{% static 'graficos/uptime.js' %}"></script>
        <script src="{% static 'graficos/processes.js' %}"></script>
        <script src="{% static 'graficos/rps.js' %}"></script>
        <script src="{% static 'graficos/upstream_response_time.js' %}"></script>
        <script src="{% static 'graficos/request_time.js' %}"></script>

    </main>

    <!-- MDB JS -->
    <script src="{% static 'bootstrap/mdb.min.js' %}"></script>
    <!-- FontAwesome (para os ícones) -->
    <script src="{% static 'bootstrap/fontawesome.js' %}"></script>

    {# Footer #}
    <footer class="footer bg-dark text-white">
        <p>&copy; Todos os direitos reservados. Desenvolvido por <a href="https://github.com/jbgoncalvess">Jardel Gonçalves.</a></p>
    </footer>
</body>
</html>
