{% load static %}

{# Head #}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lynx</title>
    <!-- MDB CSS -->
    <link href="{% static 'bootstrap/mdb.min.css' %}" rel="stylesheet">
    <!-- CSS personalizado -->
    <link href="{% static 'base/base.css' %}" rel="stylesheet">
    <!-- CSS personalizado para loading-overview -->
    <link href="{% static 'containers/loading_overlay.css' %}" rel="stylesheet">
</head>


{# Body #}
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white" style="width: 250px; height: 100vh;">
            <a href="{% url 'dashboard' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <img src="{% static 'figuras/LXC_Web_Lynx.png' %}" width="210" height="70" alt="">
            </a>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a href="{% url 'dashboard' %}" class="nav-link text-white bg-transparent border border-white rounded
                       {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                        <i class="fas fa-tachometer-alt me-2"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'containers' %}" class="nav-link text-white bg-transparent border border-white rounded
                       {% if request.resolver_match.url_name == 'containers' %}active{% endif %}">
                        <i class="fas fa-box me-2"></i>
                        Containers
                    </a>
                </li>
                <li>
                    <a href="{% url 'images' %}" class="nav-link text-white bg-transparent border border-white rounded
                       {% if request.resolver_match.url_name == 'images' %}active{% endif %}">
                        <i class="fas fa-server me-2"></i>
                        Images
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white bg-transparent border border-white rounded">
                        <i class="fas fa-server me-2"></i>
                        Balanceamento
                    </a>
                </li>
            </ul>
            <div class="dropdown mt-auto">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-mdb-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-user me-2"></i>
                    <strong>{{ user.username }}</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                </ul>
            </div>
        </div>
    </aside>

    {# Main #}
    <main class="content">
        <div class="container-fluid"> <!-- Usando container-fluid para maior largura -->
            <h1 class="text-center bg-primary text-white p-1 mt-2 rounded">
                <i class="fas fa-box me-2"></i> IMAGES
            </h1>
            <!-- Tabela de imagens -->
            <div class="table-responsive border border-primary border-5 rounded mb-2">
                <table class="table table-striped bg-light mb-1 align-middle text-center">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Arquitetura</th>
                            <th>Tamanho</th>
                            <th>Data de Upload</th>
                            <th>Excluir</th>
                            <th>Atualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for image in image_data %}
                        <tr>
                            <td>{{ image.image_name }}</td>
                            <td>{{ image.description }}</td>
                            <td>{{ image.architecture }}</td>
                            <td>{{ image.size }}</td>
                            <td>{{ image.upload_date|date:"d/m/Y H:i" }}</td>

                            <!-- Botões de ação -->
                            <td>
                                <button type="button" class="btn btn-link btn-sm px-3 remove-image-btn"
                                        onclick="showDeleteConfirmation('{{ image.image_name }}')">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm px-3 update-image-btn"
                                        data-image-name="{{ image.image_name }}">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Overlay de Carregamento usando MDBootstrap Spinner -->
        <div id="loading-overlay">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
        </div>

        <!-- Modal de Confirmação de Exclusão -->
        <div class="modal fade" id="modalDeleteConfirmation" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="modalDeleteLabel">Confirmar Exclusão</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza de que deseja excluir a imagem "<span id="imageToDelete"></span>"?</p>
                        <p class="text-muted">Essa ação não poderá ser desfeita.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-warning" data-mdb-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-rounded btn-primary" id="confirmDeleteButton">Excluir</button>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <!-- MDBootstrap -->
    <script src="{% static 'bootstrap/mdb.min.js' %}"></script>
    <!-- FontAwesome (para os ícones) -->
    <script src="{% static 'bootstrap/fontawesome.js' %}"></script>
    <!-- Excluir image -->
    <script src="{% static 'images/delete_image.js' %}"></script>


    {# Footer #}
    <footer class="footer bg-dark text-white">
      <p>&copy; Todos os direitos reservados. Desenvolvido por <a href="https://github.com/jbgoncalvess">Jardel Gonçalves.</a></p>
    </footer>

</html>
